@import "tailwindcss";
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-bg {
  background: linear-gradient(
    120deg,
    #f0f9ff,
    #e0f2fe,
    #f5f3ff,
    #fff7ed
  );
  background-size: 300% 300%;
  animation: gradientMove 12s ease infinite;
}
